.st-emotion-cache-12w0qpk{
    background-color: #0e1117;    
    border: 1px solid rgb(228, 228, 228);
    color: rgb(221, 221, 221);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
} 

.st-emotion-cache-12w0qpk p{  
    color: rgb(233, 233, 233);
    margin: auto;
} 


#original-data-samples-visualization{
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    color: white;
    background-color: #68c9c1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px rgb(233, 233, 233);
    width: 45%;
}

.st-emotion-cache-uf99v8{
    overflow: hidden;
}

.st-emotion-cache-ocqkz7{
    width: 600px;
}