.st-emotion-cache-12w0qpk{
    background-color: #0e1117;    
    border: 1px solid rgb(228, 228, 228);
    color: rgb(221, 221, 221);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
} 

.st-emotion-cache-12w0qpk p{  
    color: rgb(233, 233, 233);
    margin: auto;
} 

#hours-tracking-report{
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    color: white;
    background-color: #68c9c1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px rgb(233, 233, 233);
    width: 30%;
}

#original-data-visualization{
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    color: white;
    background-color: #68c9c1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px rgb(233, 233, 233);
    width: 35%;
}

.st-emotion-cache-1al18u3, .st-emotion-cache-d6uc01 {
    background-color: rgb(39, 38, 38);
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgb(70, 70, 70);
    padding: 20px;
}

.st-emotion-cache-uf99v8{
    overflow: hidden;
}

.st-emotion-cache-keje6w {
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #0E1117;
}